{% macro pagination_widget(pagination, endpoint, fragament = '') %}
<ul class="pagination">
	<li {% if not pagination.has_prev  %} class="disabled" {% endif %}>
		<a {% if not pagination.has_prev %} disabled = True {% endif %} href="{% if pagination.has_prev %}{{url_for(endpoint, page = pagination.prev_num, **kwargs)}}{{fragament}}{% else %}#{% endif %}">
		&laquo;</a>
	</li>
	{% for p in pagination.iter_pages(right_current=3) %}
	{% if p %}
	{% if p == pagination.page %}
	<li class="active">
		<a href="{{url_for(endpoint, page = p, **kwargs)}}{{fragament}}">{{p}}</a>
	</li>
	{% else %}
	<li>
		<a href="{{url_for(endpoint, page = p, **kwargs)}}{{fragament}}">{{p}}</a>
	</li>
	{% endif %}
	{% else %}
	<li class="disabled"><a href="#">...</a></li>
	{% endif %}
	{% endfor %}
	<li {% if not pagination.has_next %} class="disabled" {% endif %}>
		<a href="{% if pagination.has_next %}{{url_for(endpoint, page = pagination.next_num, **kwargs)}}{{fragament}}{% else %}#{% endif %}">
		&raquo;</a>
	</li>
</ul>
{% endmacro %}