{% extends "layout.html" %}
{% import "_macros.html" as macros %}
{% block title %}Blog{% endblock %}
{% block body %}
<h3>All Blogs</h3>
{% for article in pagination.items %}
<div class="entry-overview">
	<div class="date">{{format_datetime(article.pub_time)}}</div>
	<div class="detail">
		<h1><a href="/article/{{article.id}}">{{article.title}}</a></h1>
		{% if article.summary %}
		<div class="summary">{{article.summary}}</div>
		{% endif %}
	</div>
</div>
{% endfor %}
{% if pagination %}
<div class="pagination">
	{{macros.pagination_widget(pagination, 'index')}}
</div>
{% endif %}
{% endblock %}