<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="{{urlfor('static', filename = 'myblog.png')}}">
	{% block htmlheader %}
	<title>{% block title %}Home {% endblock %} | blog for {{config.AUTHOR}} </title>
	<link rel="stylesheet" type="text/css" href="{{urlfor('static', filename = 'style.css')">
	{% endblock %}
</head>
<body>
<div class="container">
	<div class="header">
		<a href="/about">about {{config.AUTHOR}}</a>
	</div>
	<div class="navigation">
		<ul>
			<li><a href="/">blog</a></li>
			<li><a href="/tags">tags</a></li>
			<li><a href="/links">links</a></li>
			<li><a href="/about">about</a></li>
		</ul>
	</div>
	<div class="body">
		{% block body %}{% endblock %}
	</div>
</div>
</body>
</html>