{% extends 'layout.html' %}
{% import '_macros.html' as macros %}
{% block title %}{{tag.name}}{% endblock %}
{% block body %}
<h3>All articles tagged {{tag.name}}</h3>
{% for article in pagination.items %}
<div class="entry-overview">
	<div class="date">{{format_datetime(article.pub_time)}}</div>
	<div class="detail">
		<h1><a href="/article/{{article.id}}">{{article.title}}</a></h1>
		{% if article.summary %}
		<div class="summary">{{article.summary}}</div>
		{% endif %}
	</div>
</div>
{% endfor %}
{% if pagination %}
{{macros.pagination_widget(pagination, 'tag', id = tag.id)}}
{% endif %}
{% endblock %}